.contenedor {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .botones-div {
    display: flex;
    justify-content: space-between;
  }

  button {
    background-color: #4CAF50;
    border: none; 
    border-radius: 5px;
    color: white; 
    padding: 12px 24px; 
    text-align: center; 
    margin-right: 10px;
    width: 150px;
    cursor: pointer;
}

button:hover{
    background-color: #86ca88;
}

juego {
    max-height: 800px;
    overflow: auto;
}